body {
  font-family: "Merriweather", serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
  background: #E0D9EB;
  margin: 0;
}


.main {
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  background: #f1f1f1;
  padding: 1.5rem 1.5rem 2.5rem 2.5rem;
  margin-top: 10px;
  min-width: 320px;
}

h1 {
  font-size: 2rem;
  margin: 1rem;
  color: #695FAB;
  font-family: "Sacramento", cursive;
  line-height: 1;
}
h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #695FAB;
}

footer {
  margin-top: 40px;
  padding: 10px;  
  background: #f1f1f1;;
  color: #333;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: #695FAB;
}

a:hover {
  font-style: italic;
}

img {
  width: 80%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.me {
  width: 20%;
/*   border: 5px solid black; */
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px solid #fff;
  padding: 1rem;
  max-width: 100%;
}

.center {
  text-align: center;
}

li {
  margin-bottom: 5px;
}

.nav {
  line-height: 5rem;
}
